{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": false,
  "svelteSortOrder": "options-styles-scripts-markup",
  "svelteAllowShorthand": true,
  "svelteBracketNewLine": false,
  "overrides": [
    {
      "files": "*.pcss",
      "options": {
        "useTabs": false
      }
    }
  ]
}
