#main-menu {
  @apply overflow-y-visible overflow-x-hidden;
}
.page-gap {
  @apply font-sans h-1 grid sm:text-lg xl:text-xl 2xl:leading-10 2xl:text-4xl text-white ml-4 w-5/6 sm:w-2/3 mt-16 transition ease-in-out duration-150 sm:ml-20 2xl:ml-24 sm:mt-2;
  .back-text, .redirect {
    @apply my-4 !important;
  }
  .redirect-icon {
    @apply my-5
  }
  .docs-gap p {
    @apply my-3 xl:my-4 2xl:my-10;
  }
}
